<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ronasit.fiesta">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.ronasit.fiesta.App" >

        <activity
            android:name="com.ronasit.fiesta.ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ronasit.fiesta.ui.appointments.AppointmentsActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b5e532eb0eb36e13a9a41569a463cc4342792b00"
            />

    </application>
</manifest>
